<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <!-- Hide app brand if navbar is full -->
  {% if not navbar_full %}
  <div class="app-brand demo">
    <a href="{% url 'index' %}" class="app-brand-link">
      <span class="app-brand-logo demo">
        {% include 'partials/logo.html' with width=250000 withbg="#2A422B" %}
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2">
        {% get_theme_variables 'template_name' %}
      </span>
    </a>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>
  {% endif %}

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Home Page -->
    <li class="menu-item {% if 'index' == request.resolver_match.url_name or '/home_page/' in request.path %}active open{% endif %}">
      <a href="{% url 'index' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-home"></i>
        <div class="text-truncate" data-i18n="Page d'accueil">Page d'accueil</div>
      </a>
    </li>

    <!-- Information Section -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Informations</span>
    </li>

    <li class="menu-item {% if request.resolver_match.url_name == 'dash' %}active{% endif %}">
      <a href="{% url 'dash' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-dashboard"></i>
        <div class="text-truncate" data-i18n="Card">En direct</div>
      </a>
    </li>
    
    <li class="menu-item {% if request.resolver_match.url_name == 'forcast' %}active{% endif %}">
      <a href="{% url 'forcast' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-calendar-event"></i>
        <div class="text-truncate" data-i18n="Card">Demain</div>
      </a>
    </li>

    <li class="menu-item {% if 'map' == request.resolver_match.url_name %}active{% endif %}">
      <a href="{% url 'map' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-map"></i>
        <div class="text-truncate" data-i18n="Maps">Carte</div>
      </a>
    </li>

    <!-- Entraide Section -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Entraide</span>
    </li>

    <li class="menu-item {% if request.resolver_match.url_name == 'contact_form' %}active{% endif %}">
      <a href="{% url 'contact_form' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-face"></i>
        <div class="text-truncate" data-i18n="Je veux aider">Je veux aider</div>
      </a>
    </li>

    <li class="menu-item {% if request.resolver_match.url_name == 'help' %}active{% endif %}">
      <a href="{% url 'help' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bxs-face"></i>
        <div class="text-truncate" data-i18n="J'ai besoin d'aide">J'ai besoin d'aide</div>
      </a>
    </li>

    <li class="menu-item {% if '/dashboard/' in request.path %}active{% endif %}">
      <a href="{% url 'dashboard' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div class="text-truncate" data-i18n="En direct">Communauté</div>
      </a>
    </li>

    <!-- Access Mairie Section -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Accés mairie</span>
    </li>

    <li class="menu-item {% if request.resolver_match.url_name == 'admin:index' %}active{% endif %}">
      <a href="{% url 'admin:index' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-user-circle"></i>
        <div class="text-truncate" data-i18n="Administration">Admin</div>
      </a>
    </li>

  </ul>
</aside>