{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}CoolChateney Dashboard Amélioré{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />
<style>
  .card.equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .row {
    margin: 0;
  }

  .col-lg-4 {
    padding: 0.5rem;
  }

  /* Modal styles */
  .modal-content {
      padding: 20px;
  }
</style>
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script>
document.addEventListener('DOMContentLoaded', function () {
    // Contacts by Availability for a 14-day window (Volunteers)
    var contactsByDatesSlots = JSON.parse('{{ contacts_by_dates_slots|escapejs }}');
    var dates = {{ dates|safe }};
    
    var optionsAvailability = {
        chart: {
            type: 'bar',
            stacked: true,
            height: 350
        },
        series: [{
            name: 'Toute la journée',
            data: dates.map(date => contactsByDatesSlots[date]['all_day']),
            color: '#4CAF50'
        }, {
            name: 'Matin',
            data: dates.map(date => contactsByDatesSlots[date]['morning']),
            color: '#FFC107'
        }, {
            name: 'Après-midi',
            data: dates.map(date => contactsByDatesSlots[date]['afternoon']),
            color: '#03A9F4'
        }, {
            name: 'Soirée',
            data: dates.map(date => contactsByDatesSlots[date]['evening']),
            color: '#9C27B0'
        }],
        xaxis: {
            categories: dates
        },
        tooltip: {
            y: {
                formatter: function (val) {
                    return val + " personnes";
                }
            }
        }
    };
    var chartAvailability = new ApexCharts(document.querySelector("#chart-availability"), optionsAvailability);
    chartAvailability.render();

    // Top Contributors Chart
    var optionsTopContributors = {
        chart: {
            type: 'bar',
            height: 350
        },
        series: [{
            name: 'Total Jours',
            data: [
                {% for contributor in top_contributors %}
                    { x: '{{ contributor.first_name }} {{ contributor.last_name }}', y: {{ contributor.total_days.days }} },
                {% endfor %}
            ]
        }],
        xaxis: {
            categories: [
                {% for contributor in top_contributors %}
                    '{{ contributor.first_name }} {{ contributor.last_name }}',
                {% endfor %}
            ]
        },
        title: {
            text: 'Meilleurs Contributeurs'
        },
        tooltip: {
            y: {
                formatter: function (val) {
                    return val + " jours";
                }
            }
        }
    };
    var chartTopContributors = new ApexCharts(document.querySelector("#chart-top-contributors"), optionsTopContributors);
    chartTopContributors.render();

    // Volunteers Availability Trend Chart as a Bar Plot
    var availabilityTrendData = JSON.parse('{{ availability_trend|escapejs }}');
    var optionsAvailabilityTrend = {
        chart: {
            type: 'bar',
            height: 350
        },
        series: [{
            name: 'Disponibilité',
            data: availabilityTrendData
        }],
        xaxis: {
            categories: ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche']
        },
        title: {
            text: 'Tendance de la Disponibilité des Volontaires par Jour'
        },
        tooltip: {
            y: {
                formatter: function (val) {
                    return val + " volontaires disponibles";
                }
            }
        }
    };
    var chartAvailabilityTrend = new ApexCharts(document.querySelector("#chart-availability-trend"), optionsAvailabilityTrend);
    chartAvailabilityTrend.render();

    // Weekday vs Weekend Volunteers Pie Chart
    var weekdayCount = {{ weekday_volunteers_count }};
    var weekendCount = {{ weekend_volunteers_count }};
    var optionsWeekdayWeekend = {
        chart: {
            type: 'pie',
            height: 350
        },
        series: [weekdayCount, weekendCount],
        labels: ['Semaine', 'Week-end'],
        title: {
            text: 'Répartition des Volontaires : Semaine vs Week-end'
        }
    };
    var chartWeekdayWeekend = new ApexCharts(document.querySelector("#chart-weekday-weekend"), optionsWeekdayWeekend);
    chartWeekdayWeekend.render();

    // Weekday vs Weekend Seekers Pie Chart
    var weekdaySeekersCount = {{ weekday_seekers_count }};
    var weekendSeekersCount = {{ weekend_seekers_count }};
    var optionsSeekersWeekdayWeekend = {
        chart: {
            type: 'pie',
            height: 350
        },
        series: [weekdaySeekersCount, weekendSeekersCount],
        labels: ['Semaine', 'Week-end'],
        title: {
            text: 'Répartition des Seekers : Semaine vs Week-end'
        }
    };
    var chartSeekersWeekdayWeekend = new ApexCharts(document.querySelector("#chart-seekers-weekday-weekend"), optionsSeekersWeekdayWeekend);
    chartSeekersWeekdayWeekend.render();
});
</script>
{% endblock page_js %}

{% block content %}
<div class="container">
  <!-- Filtres -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-primary">Filtres</h5>
          <form method="GET">
            <div class="row">
              <div class="col-md-4">
                <label for="start-date-filter">Date de Début</label>
                <input type="date" id="start-date-filter" name="start_date" class="form-control" value="{{ start_date }}">
              </div>
              <div class="col-md-4">
                <label for="end-date-filter">Date de Fin</label>
                <input type="date" id="end-date-filter" name="end_date" class="form-control" value="{{ end_date }}">
              </div>

            <div class="row mt-3">
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Appliquer</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <!-- Total Active Volunteers -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card equal-height">
        <div class="card-body">
          <h5 class="card-title text-primary">Nombre total de volontaires actifs</h5>
          <p class="mb-3">
            <span class="h1 font-weight-bold">{{ total_active_volunteers }}</span>
          </p>
        </div>
      </div>
    </div>

    <!-- Weekend Contacts Count -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card equal-height">
        <div class="card-body">
          <h5 class="card-title text-primary">Volontaires disponibles le week-end</h5>
          <p class="mb-3">
            <span class="h1 font-weight-bold">{{ weekend_volunteers_count }}</span>
          </p>
        </div>
      </div>
    </div>

    <!-- Re-Registered Contacts Count -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card equal-height">
        <div class="card-body">
          <h5 class="card-title text-primary">Nombre de personnes réinscrites</h5>
          <p class="mb-3">
            <span class="h1 font-weight-bold">{{ re_registered_volunteers_count }}</span>
          </p>
        </div>
      </div>
    </div>

    <!-- Total Seekers (Personnes Aidées) -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card equal-height">
        <div class="card-body">
          <h5 class="card-title text-primary">Nombre total de Seekers</h5>
          <p class="mb-3">
            <span class="h1 font-weight-bold">{{ total_seekers }}</span>
          </p>
        </div>
      </div>
    </div>

    <!-- Weekend Seekers Count -->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card equal-height">
        <div class="card-body">
          <h5 class="card-title text-primary">Seekers disponibles le week-end</h5>
          <p class="mb-3">
            <span class="h1 font-weight-bold">{{ weekend_seekers_count }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Contacts by Availability Chart -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-primary">Volontaires disponibles pour les 14 prochains jours</h5>
          <div id="chart-availability"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Weekday vs Weekend Volunteers Pie Chart -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-primary">Répartition des Volontaires : Weekday vs Weekend</h5>
          <div id="chart-weekday-weekend"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Weekday vs Weekend Seekers Pie Chart -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-primary">Répartition des Seekers : Weekday vs Weekend</h5>
          <div id="chart-seekers-weekday-weekend"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Top Contributors Chart -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-primary">Meilleurs Contributeurs</h5>
          <div id="chart-top-contributors"></div>
          <table class="table table-striped mt-4">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Jours Totaux</th>
              </tr>
            </thead>
            <tbody>
              {% for contributor in top_contributors %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ contributor.first_name }}</td>
                  <td>{{ contributor.last_name }}</td>
                  <td>{{ contributor.total_days.days }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}