{% extends layout_path %}
{% load static %}
{% load i18n %}
{% load custom_tags %}

{% block title %}Tableaux - Tableaux de Base{% endblock %}

{% block content %}
<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">Liste des volontaires</span>
</h4>

<!-- Tableau Bootstrap de Base -->
<div class="card">
  <div class="table-responsive text-nowrap">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>
            <a href="?sort=first_name&order={% toggle_order current_order %}">
              Prénom
              {% if current_sort == 'first_name' %}
                {% if current_order == 'asc' %}▲{% else %}▼{% endif %}
              {% endif %}
            </a>
          </th>
          <th>
            <a href="?sort=last_name&order={% toggle_order current_order %}">
              Nom
              {% if current_sort == 'last_name' %}
                {% if current_order == 'asc' %}▲{% else %}▼{% endif %}
              {% endif %}
            </a>
          </th>
          <th>Email</th>
          <th>Téléphone</th>
          <th>Adresse</th>
          <th>
            <a href="?sort=start_date&order={% toggle_order current_order %}">
              Date de début
              {% if current_sort == 'start_date' %}
                {% if current_order == 'asc' %}▲{% else %}▼{% endif %}
              {% endif %}
            </a>
          </th>
          <th>
            <a href="?sort=end_date&order={% toggle_order current_order %}">
              Date de fin
              {% if current_sort == 'end_date' %}
                {% if current_order == 'asc' %}▲{% else %}▼{% endif %}
              {% endif %}
            </a>
          </th>
          <th>Disponibilités</th>
        </tr>
      </thead>
      <tbody>
        {% for contact in contacts %}
        <tr>
          <td>{{ contact.first_name }}</td>
          <td>{{ contact.last_name }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.phone }}</td>
          <td>{{ contact.address }}</td>
          <td> {{ contact.start_date }}</td>
          <td> {{ contact.end_date }}</td>
          <td>
            {% if contact.monday_all_day %} Lundi Toute la Journée <br> {% endif %}
            {% if contact.monday_morning %} Lundi Matin <br> {% endif %}
            {% if contact.monday_afternoon %} Lundi Après-midi <br> {% endif %}
            {% if contact.monday_evening %} Lundi Soir <br> {% endif %}
            {% if contact.tuesday_all_day %} Mardi Toute la Journée <br> {% endif %}
            {% if contact.tuesday_morning %} Mardi Matin <br> {% endif %}
            {% if contact.tuesday_afternoon %} Mardi Après-midi <br> {% endif %}
            {% if contact.tuesday_evening %} Mardi Soir <br> {% endif %}
            {% if contact.wednesday_all_day %} Mercredi Toute la Journée <br> {% endif %}
            {% if contact.wednesday_morning %} Mercredi Matin <br> {% endif %}
            {% if contact.wednesday_afternoon %} Mercredi Après-midi <br> {% endif %}
            {% if contact.wednesday_evening %} Mercredi Soir <br> {% endif %}
            {% if contact.thursday_all_day %} Jeudi Toute la Journée <br> {% endif %}
            {% if contact.thursday_morning %} Jeudi Matin <br> {% endif %}
            {% if contact.thursday_afternoon %} Jeudi Après-midi <br> {% endif %}
            {% if contact.thursday_evening %} Jeudi Soir <br> {% endif %}
            {% if contact.friday_all_day %} Vendredi Toute la Journée <br> {% endif %}
            {% if contact.friday_morning %} Vendredi Matin <br> {% endif %}
            {% if contact.friday_afternoon %} Vendredi Après-midi <br> {% endif %}
            {% if contact.friday_evening %} Vendredi Soir <br> {% endif %}
            {% if contact.saturday_all_day %} Samedi Toute la Journée <br> {% endif %}
            {% if contact.saturday_morning %} Samedi Matin <br> {% endif %}
            {% if contact.saturday_afternoon %} Samedi Après-midi <br> {% endif %}
            {% if contact.saturday_evening %} Samedi Soir <br> {% endif %}
            {% if contact.sunday_all_day %} Dimanche Toute la Journée <br> {% endif %}
            {% if contact.sunday_morning %} Dimanche Matin <br> {% endif %}
            {% if contact.sunday_afternoon %} Dimanche Après-midi <br> {% endif %}
            {% if contact.sunday_evening %} Dimanche Soir <br> {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!--/ Tableau Bootstrap de Base -->
{% endblock %}

<script>
  function editContact(id) {
    // Implement your edit logic here, e.g., redirect to an edit page
    window.location.href = '/edit/' + id;
  }

  function deleteContact(id) {
    // Implement your delete logic here, e.g., show a confirmation dialog and then delete
    if (confirm('Êtes-vous sûr de vouloir supprimer ce contact?')) {
      // Perform the delete action, e.g., send an AJAX request to the server
      window.location.href = '/delete/' + id;
    }
  }
</script>
